<app-menu-superior></app-menu-superior>

<ion-content padding>
    <ion-title center>
        <h2 text-center>
            <!-- Olá,  -->
            <br/>
            <b>{{ usuario?.nomuso }}</b></h2>
    </ion-title>

    <div class="div-icon">
        <ion-icon name="contact" class="icon-contact"></ion-icon>
    </div>
    {{ usuario | json}}
    <ion-card>

        <ion-card-content>
            <ion-label position="stacked">
                <ion-icon name="person"></ion-icon>
                Nome
            </ion-label>
            <ion-input [(ngModel)]="usuario.nomuso" readonly>
            </ion-input>

            <ion-label position="">
                <ion-icon name="calendar"></ion-icon>
                Data de Nascimento
            </ion-label>
            <ion-datetime display-format="DD/MM/YYYY" [(ngModel)]="usuario.nasuso " disabled></ion-datetime>


            <ion-label position="">
                <ion-icon name="card"></ion-icon>
                CPF
            </ion-label>
            <ion-input [(ngModel)]="usuario.cpfuso" readonly></ion-input>

        </ion-card-content>
    </ion-card>

    <ion-button (click)="IrParaRedefinirSenha()" expand="full" color="primary">Alterar Senha</ion-button>
</ion-content>