ion-input,
ion-datetime {
    color: #000 !important;
    border-bottom: 1px solid #CCC !important;
}

ion-label {
    color: #000 !important;
}

.datetime-disabled,
.item-datetime-disabled {
    opacity: 1;
    pointer-events: none;
}

.div-icon {
    width: 100%;
    text-align: center;
}

.icon-contact {
    width: 190px !important;
    height: 188px !important;
    border-radius: 50% !important;
    border: 3px solid #FFF !important;
    padding: 0 !important;
    text-align: center;
    color: #FFF !important;
}