<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
        <ion-title>Configurações</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>

    <ion-card>
        <ion-card-header>Ambiente</ion-card-header>

        <ion-list>
            <ion-radio-group>

                <span *ngFor="let ambiente of ambientes">
              <ion-item  >
                <ion-label>{{ ambiente.nome}}</ion-label>
                <ion-radio slot="start" [(ngModel)]="ambiente.ativo"  [checked]="ambiente.ativo" (ionSelect)="selecionar(ambiente)"></ion-radio>
              </ion-item>
              </span>
            </ion-radio-group>
        </ion-list>

    </ion-card>

</ion-content>