<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light" defaultHref="tela-inicial"></ion-back-button>
        </ion-buttons>
        <ion-title>SOBRE</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card>
        <ion-card-header>
            Sobre o Aplicativo
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-img src="assets/image/logo_pmcg.png" class="footer-menu"></ion-img>
            </ion-item>
            <ion-item (click)="IrParaTermoDeUso()">
                <ion-text color="dark"> Termo de Uso </ion-text>
            </ion-item>
            <ion-item>
                <ion-text color="dark"> Versão: {{versao}} </ion-text>
            </ion-item>
            <ion-item>
                <ion-text color="dark"> Desenvolvido por: AGETEC - Agência Municipal de Tecnologia da Informação e Inovação
                </ion-text>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>