<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button color="light" defaultHref="login"></ion-back-button>
		</ion-buttons>
		<ion-title>Cadastrar Usuário</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding scroll="false">

	<ion-label position="floating"> Nome </ion-label>
	<ion-item margin-bottom>
		<ion-input type="text" [(ngModel)]="usuario.nomuso"></ion-input>
	</ion-item>

	<ion-label position="floating"> Data de Nascimento </ion-label>
	<ion-item margin-bottom>
		<ion-datetime class="ion-datetime" display-format="DD/MM/YYYY" done-text="OK" cancel-text="CANCELAR" [(ngModel)]="usuario.nasuso">
		</ion-datetime>
	</ion-item>

	<ion-label position="floating"> CPF </ion-label>
	<ion-item margin-bottom>
		<ion-input type="tel" [(ngModel)]="usuario.cpfuso" mascara="cpf"></ion-input>
	</ion-item>

	<ion-label position="floating"> Celular </ion-label>
	<ion-item margin-bottom>
		<ion-input type="tel" [(ngModel)]="usuario.celuso" mascara="telefone-celular" maxlength="15"></ion-input>
	</ion-item>

	<ion-label position="floating"> E-mail </ion-label>
	<ion-item margin-bottom>
		<ion-input type="email" [(ngModel)]="usuario.emailuso"></ion-input>
	</ion-item>
	<ion-label position="floating"> Senha </ion-label>
	<ion-item margin-bottom>
		<ion-input [type]="passwordType" [(ngModel)]="usuario.senuso"></ion-input>
		<ion-icon color="black" [name]="passwordShown === true ? 'eye-off' : 'eye'" slot="end"
			(click)="togglePassword()"></ion-icon>
	</ion-item>
	<ion-label position="floating"> Logradouro </ion-label>
	<ion-item margin-bottom>
		<ion-input type="text" [(ngModel)]="usuario.loguso"></ion-input>
	</ion-item>

	<ion-label position="floating"> Número </ion-label>
	<ion-item margin-bottom>
		<ion-input type="number" [(ngModel)]="usuario.numuso"></ion-input>
	</ion-item>

	<ion-label position="floating"> Bairro </ion-label>
	<ion-item margin-bottom>
		<ion-input type="text" [(ngModel)]="usuario.baiuso"></ion-input>
	</ion-item>


	<ion-label position="floating"> CEP </ion-label>
	<ion-item margin-bottom>
		<ion-input type="tel" [(ngModel)]="usuario.cepuso" mascara="cep"></ion-input>
	</ion-item>

	<ion-button expand="full" color="primary" margin-bottom (click)="cadastrarUsuario()"> CADASTRAR </ion-button>

</ion-content>