<ion-list *ngFor="let item of itens" class="menu">
    <ion-list-header *ngIf="item.titulo!=''" class="list-header">
        <ion-label color="primary">{{item.titulo}}</ion-label>

    </ion-list-header>

    <ion-menu-toggle auto-hide="false" *ngFor="let pagina of item.pagina">

        <ion-item [routerDirection]="'root'" (click)="abrirLink(pagina.url);" *ngIf="pagina.titulo!='' && 
           pagina.url != null &&
           pagina.ehHyperLink">
            <ion-icon class="{{pagina.icone}}" slot="start" [name]="pagina.icone"></ion-icon>
            <ion-label>
                {{pagina.titulo}}
            </ion-label>
        </ion-item>


        <ion-item (click)="abrirMinhasNotificacoes()" [routerLink]="[pagina.url]" *ngIf="pagina.titulo =='Minhas Notificações'">
            <ion-icon class="{{pagina.icone}}" slot="start" [name]="pagina.icone"></ion-icon>
            <ion-label>
                {{pagina.titulo}}
            </ion-label>
        </ion-item>

        <ion-item (click)="abrirTelaDeSolicitacao(pagina.orgao)" *ngIf="pagina.titulo!= '' && 
      pagina.url == null && 
      !pagina.ehHyperLink &&
      pagina.orgao != null &&
      pagina.orgao.botaoorg.toLowerCase() != 'ouvidoria' &&
      pagina.orgao.botaoorg.toLowerCase() != 'procon'">
            <i class="{{pagina.icone}}" style="color:#747474; font-size: 20px;" slot="start"></i>
            <ion-label>
                {{pagina.titulo}}
            </ion-label>
        </ion-item>

        <ion-item (click)="abrirTelaProcon()" *ngIf="pagina.titulo!= '' && 
      (pagina.url == null || pagina.url == '') && 
      !pagina.ehHyperLink &&
      pagina.orgao != null &&
      pagina.orgao.botaoorg.toLowerCase() == 'procon'">
            <ion-icon class="{{pagina.icone}}" slot="start" [name]="pagina.icone"></ion-icon>
            <ion-label>
                {{pagina.titulo}}
            </ion-label>
        </ion-item>

        <ion-item (click)="abrirTelaDeOuvidoria()" *ngIf="pagina.titulo!= '' && 
      pagina.url == null && 
      !pagina.ehHyperLink &&
      pagina.orgao != null &&
      pagina.orgao.botaoorg.toLowerCase() == 'ouvidoria'">
            <ion-icon class="{{pagina.icone}}" slot="start" [name]="pagina.icone"></ion-icon>
            <ion-label>
                {{pagina.titulo}}
            </ion-label>
        </ion-item>

        <ion-item (click)="AbrirPagina(pagina.url)" *ngIf="pagina.titulo!='' && 
           pagina.url != null &&
           pagina.orgao == null &&
           pagina.titulo != 'Minhas Notificações' &&
           !pagina.ehHyperLink">
            <ion-icon class="{{pagina.icone}}" slot="start" [name]="pagina.icone"></ion-icon>
            <ion-label>
                {{pagina.titulo}}
            </ion-label>
        </ion-item>

    </ion-menu-toggle>
</ion-list>

<ion-img src="assets/image/logo_pmcg.png" class="footer-menu"></ion-img>