<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light" defaultHref="/tela-inicial"></ion-back-button>
        </ion-buttons>
        <ion-title>Legenda</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card style="background: white;">
        <ion-card-header>
            LEGENDA DETALHADA
        </ion-card-header>

        <ion-list size="12" style="height: auto;">

            <ion-list-header>
                <span style="float: left;">
            <ion-icon style="font-size:18px;" name="play"></ion-icon>
          </span>
                <span class="item-header">Aberta</span>

                <ion-icon class="icon-updown" [name]="abertoAberta ? 'arrow-dropdown' : 'arrow-dropup'" (click)="mostrarDetalhes('detalhesAberta')"></ion-icon>

            </ion-list-header>
            <ion-card-content hidden size="12" id="detalhesAberta">
                <ion-item lines="full">
                    <b>Protocolos recebidos, mas ainda não tramitados internamente.</b>
                </ion-item>
            </ion-card-content>

            <ion-list-header>
                <span style="float: left;">
            <ion-icon style="font-size:18px;" name="play-circle"></ion-icon>
          </span>
                <span class="item-header">Em Andamento</span>

                <ion-icon class="icon-updown" [name]="abertoEmAnalise ? 'arrow-dropdown' : 'arrow-dropup'" (click)="mostrarDetalhes('detalhesEmAnalise')"></ion-icon>

            </ion-list-header>
            <ion-card-content hidden size="12" id="detalhesEmAnalise">
                <ion-item lines="full">
                    <b>Protocolos já tramitados internamente, aguardando alguma solução de um Setor ou a execução da
              Solicitação.</b>
                </ion-item>
            </ion-card-content>

            <ion-list-header>
                <span style="float: left;">
            <ion-icon style="font-size:18px;" name="checkmark-circle"></ion-icon>
          </span>
                <span class="item-header">Concluída</span>

                <ion-icon class="icon-updown" [name]="abertoConcluido ? 'arrow-dropdown' : 'arrow-dropup'" (click)="mostrarDetalhes('detalhesConcluida')"></ion-icon>

            </ion-list-header>
            <ion-card-content hidden size="12" id="detalhesConcluida">
                <ion-item lines="full">
                    <b>Protocolos no estágio final, com sua solicitação atendida.</b>
                </ion-item>
            </ion-card-content>

            <ion-list-header>
                <span style="float: left;">
            <ion-icon style="font-size:18px;" name="close-circle"></ion-icon>
          </span>
                <span class="item-header">Finalizada</span>

                <ion-icon class="icon-updown" [name]="abertoFinalizada ? 'arrow-dropdown' : 'arrow-dropup'" (click)="mostrarDetalhes('detalhesFinalizada')"></ion-icon>
            </ion-list-header>
            <ion-card-content hidden size="12" id="detalhesFinalizada">
                <ion-item lines="full">
                    <b>Protocolos no estágio final, com sua solicitação rejeitada.</b>
                </ion-item>
            </ion-card-content>

        </ion-list>
    </ion-card>

    <h3 style="color:white;text-align: center"> Obrigado por contrubuir e ajudar a melhorar a nossa cidade!</h3>
</ion-content>