<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light" defaultHref="tela-inicial-procon" (click)="fecharModal()"></ion-back-button>
        </ion-buttons>
        <ion-title>Termo de Uso</ion-title>
        <!-- <ion-title>{{termo?.tptVO?.destpt }}</ion-title> -->
    </ion-toolbar>
</ion-header>
<ion-content class="texto-termo">

    <div>
        <ion-card-content>
            <ion-item>
                <ion-text [innerHtml]="termo.dester" style="padding: 15px;text-align: justify;text-justify: inter-word;">
                </ion-text>
            </ion-item>

            <ion-button expand="full" (click)="irPara()">CONCORDO</ion-button>
        </ion-card-content>
    </div>




</ion-content>