<ion-content padding>
    <ion-img src="assets/image/fala-cg-horizontal.png"></ion-img>

    <ion-label position="floating"> CPF </ion-label>
    <ion-item margin-bottom>
        <ion-input type="tel" name="cpfuso" [(ngModel)]="usuario.cpfuso" mascara="cpf" minlength="14" maxlength="14">
        </ion-input>
    </ion-item>
    <ion-label position="floating"> Senha </ion-label>
    <ion-item margin-bottom>
        <ion-input [type]="passwordType" [(ngModel)]="usuario.senuso"></ion-input>
        <ion-icon color="black" [name]="passwordShown === true ? 'eye-off' : 'eye'" slot="end" (click)="togglePassword()">
        </ion-icon>
    </ion-item>
    <ion-icon name="wifi" slot="start"></ion-icon>
    <ion-button expand="full" color="primary" margin-top margin-bottom (click)="entrar()" id="ion-button"> ENTRAR
    </ion-button>
    <ion-button expand="full" color="primary" margin-bottom (click)="cadastrar()" id="cadastrar"> CADASTRAR </ion-button>
    <ion-button class="ion-button-link" expand="full" color="light" fill="clear" margin-bottom (click)="redefinirSenha()">
        ESQUECEU A SENHA ? </ion-button>


</ion-content>