ion-img {
    width: 90%;
    margin: auto;
    margin-top: 10%;
}

#ion-button {
    margin-top: 40px !important;
}

#ion-button,
#cadastrar {
    height: 50px;
}

.ion-button-link {
    font-weight: bold;
    text-decoration: underline;
}

.ion-icon-password {
    color: white;
}