<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light" defaultHref="../" (click)="back()"></ion-back-button>
        </ion-buttons>
        <ion-title>Ramo Atividade</ion-title>
    </ion-toolbar>
</ion-header>

<div>
    <ion-searchbar [(ngModel)]="textoDigitado" (ionChange)="filtrar()" placeholder="Pesquisar"></ion-searchbar>
</div>


<ion-content>

    <ion-list>
        <ion-item *ngFor="let item of listaFiltrada" lines="full" (click)="selecionar(item)">
            <ion-label class="ion-line">{{item.nomram.toUpperCase()}}</ion-label>
        </ion-item>
    </ion-list>

</ion-content>