<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light" defaultHref="tela-inicial"></ion-back-button>
        </ion-buttons>
        <ion-title>Meus Protocolos PROCON</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>

        <ion-row>
            <ion-text color="light" class="title-page">

                <h3 class="title">
                    <ion-icon name="list-box"></ion-icon>
                    Meus Protocolos PROCON
                </h3>
                <p class="subtitle">Toque para acompanhar.</p>
            </ion-text>
        </ion-row>


        <ion-row>
            <ion-card style="width: 100%;">
                <ion-card-header>
                    PROTOCOLOS
                </ion-card-header>
                <ion-list *ngFor="let solicitacao of solicitacoesProcon" size="12" style="height: auto;">

                    <ion-list-header color="light" style="text-align: left">

                        <span *ngIf="solicitacao?.sitden==2" style="float: left;">
							<ion-icon style="font-size:18px;" name="checkmark-circle"></ion-icon>
						</span>
                        <span *ngIf="solicitacao?.sitden==1">
							<ion-icon style="font-size:18px;" name="play-circle"></ion-icon>
						</span>
                        <span *ngIf="solicitacao?.sitden==0" style="float: left;">
							<ion-icon style="font-size:18px;" name="play"></ion-icon>
						</span>
                        <span class="item-header">{{solicitacao?.datalt  | slice:0:5}} -
							<span *ngIf="solicitacao.tipden==0">DENÚNCIA</span>
                        <span *ngIf="solicitacao.tipden==1">ORIENTAÇÃO</span>

                        </span>
                        <ion-icon name="arrow-dropdown" class="icon-updown" *ngIf="solicitacao?.codden!= detalhes" (click)="mostrarDetalhes(solicitacao.codden)"></ion-icon>
                        <ion-icon name="arrow-dropup" class="icon-updown" *ngIf="solicitacao?.codden== detalhes" (click)="esconderDetalhes()"></ion-icon>
                    </ion-list-header>

                    <ion-card-content *ngIf="solicitacao?.codden== detalhes" size="12">
                        <ion-item lines="full">
                            <b>Protocolo: </b> {{ solicitacao?.codden }}
                        </ion-item>
                        <ion-item lines="full">
                            <b>Aberto:</b> {{solicitacao?.datalt }}
                        </ion-item>
                        <ion-item class="item-solicitacao" lines="full">
                            <div class="textos">
                                <p><b class="">Solicitação: </b></p>
                                <p size="12"> {{ solicitacao.desden }}</p>
                            </div>

                        </ion-item>

                        <ion-item lines="full">
                            <b>Situação: </b>
                            <span *ngIf="solicitacao?.sitden==0">
								Aberta
							</span>
                            <span *ngIf="solicitacao?.sitden==1">
								Em Andamento
							</span>
                            <span *ngIf="solicitacao?.sitden==2">
								Fechada
							</span>
                        </ion-item>
                        <ion-item *ngIf="solicitacao.resden " lines="full">
                            <div class="textos">
                                <b>Atendimento: </b>
                                <p>{{ solicitacao?.resden }}</p>
                            </div>
                        </ion-item>
                    </ion-card-content>


                </ion-list>

            </ion-card>
        </ion-row>
    </ion-grid>

    <ion-card style="background: white;">
        <ion-card-header>
            LEGENDA
            <div style="float: right" (click)="irParaLegenda()">
                <ion-icon style="font-size:18px;" name="information-circle-outline"></ion-icon>
                DETALHES
            </div>
        </ion-card-header>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-icon style="font-size:18px;" name="play" color="black"></ion-icon>
                        <ion-label>Aberta</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-icon style="font-size:18px;" color="black" name="play-circle"></ion-icon>
                        <ion-label>Em Andamento</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-icon style="font-size:18px;" color="black" name="close-circle"></ion-icon>
                        <ion-label>Finalizada</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-icon style="font-size:18px;" color="black" name="checkmark-circle"></ion-icon>
                        <ion-label>Concluída</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

    <h3 style="color:white;text-align: center"> Obrigado por contrubuir e ajudar a melhorar a nossa cidade!</h3>

</ion-content>