.card-content-md {
    padding: 1px !important;
    font-size: 10px !important;
    line-height: 1.5em !important;
}

.item,
.endereco>b,
.endereco>p,
.endereco>p>b,
.textos>* {
    font-size: 12px !important;
    word-wrap: break-word !important;
}

.item>b,
.item>p,
.item>p>b {
    margin-right: 0.5em !important;
    vertical-align: top !important;
}

ion-list-header {
    text-align: left!important;
    width: 100% !important;
}

.item-header {
    float: left;
    width: 85%;
    margin-left: 0.5em;
}

.solicitacao {
    float: left !important;
    height: 98%;
}

.item-solicitacao {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.icon-updown {
    float: left !important;
    margin-right: 0.5em!important;
    width: 1.5em;
    height: 1.5em;
}

.title-page {
    width: 90%;
    margin-left: 16px;
}

.title {
    font-size: 1.5em;
}

.subtitle,
.title {
    width: 100%!important;
    text-align: left;
}

.title>ion-icon {
    font-size: 1.5em;
    vertical-align: bottom;
}