.card {
    width: 95%;
}

.card-header {
    width: 95%;
}

.title-page {
    width: 90%;
    margin-left: 20px;
}

.title {
    font-size: 1.5em;
}

.content-address {
    padding: 4px 16px;
}

.main-wrapper {
    width: 100%;
}

.ion-card {
    width: 100%;
}

.address {
    width: 100% !important;
    clear: both;
}

.contacts {
    width: 100% !important;
    clear: both;
}

.address-divider {
    min-height: 0px;
}

.align-icon,
.align-icon-call {
    float: right;
    width: 22px;
    height: 28px;
}