<app-menu-superior></app-menu-superior>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-text color="light" class="title-page">

                <h3 class="title ion-text-center">

                    Atendimento PROCON
                </h3>

            </ion-text>
        </ion-row>

        <ion-row class="main-wrapper" id="home-nav">
            <ion-card *ngFor="let ouvidoria of ouvidorias" class="ion-card">
                <ion-card-header>
                    <span> {{ouvidoria.desorgcon}}</span>
                </ion-card-header>

                <ion-list>
                    <ion-item lines="full">
                        <ion-icon name="call"></ion-icon> {{ouvidoria.telorgcon}}
                    </ion-item>

                    <ion-item lines="full">
                        <ion-icon name="mail"></ion-icon> {{ouvidoria.emaorgcon}}
                    </ion-item>
                </ion-list>
            </ion-card>
        </ion-row>


        <ion-row>
            <ion-text color="light" class="title-page">

                <h3 class="title ion-text-center">

                    Atendimento PROCON
                </h3>

            </ion-text>

        </ion-row>
    </ion-grid>

    <ion-card class="card">
        <ion-card-header>
            <ion-icon name="pin"></ion-icon> Endereços
        </ion-card-header>

        <ion-card-content *ngFor="let enderecoProcon of enderecosProcon" class="content-address">
            <div color="dark" class="address">

                {{ enderecoProcon.lgdepc }}, {{ enderecoProcon.numeroepc }}.
                <ion-img src="assets/icon/map.svg" class="align-icon" (click)="abrirLink(enderecoProcon)"></ion-img>
            </div>
            <div color="dark" position="fixed">
                {{ enderecoProcon.bairroepc }}. {{ enderecoProcon.cepepc }}.

            </div>

            <ion-item-divider class="address-divider"></ion-item-divider>

        </ion-card-content>

    </ion-card>


    <ion-item *ngFor="let tipoContato of tipoContatos">
        <ion-card class="card">
            <ion-card-header *ngIf="tipoContato.destcp != null && tipoContato.destcp!= '' ">
                <ion-icon name="phone-portrait" *ngIf="tipoContato.destcp.toUpperCase( ) == 'CELULAR'"></ion-icon>
                {{ tipoContato.destcp}}
            </ion-card-header>

            <ion-card-content *ngFor="let contato of contatos " [hidden]=" tipoContato.destcp != contato.tcpcpr.destcp" class="content-address">
                <div *ngIf="contato.atvcpr== true " class="contacts">
                    {{ contato.concpr }}
                    <ion-icon name="call" class="align-icon-call" *ngIf="tipoContato.destcp.toUpperCase( ) == 'CELULAR' || tipoContato.destcp.toUpperCase( ) == 'TELEFONE'" (click)="ligar(contato.concpr)" style="color: #0B73B2"></ion-icon>
                </div>
                <ion-item-divider class="address-divider"></ion-item-divider>
            </ion-card-content>


        </ion-card>
    </ion-item>

</ion-content>