<ion-content padding>
    <div style="text-align: center">
        <div class="margin">
            <ion-img class="center" src="assets/image/fala-cg-horizontal.png"></ion-img>
            <h3 style="color:white;text-align: center"> Obrigado por contrubuir e ajudar a melhorar a nossa cidade!</h3>
        </div>

        <ion-button expand="full" color="primary" margin-bottom (click)="acompanhar()"> ACOMPANHAR </ion-button>

        <ion-button expand="full" color="primary" margin-bottom (click)="novaSolicitacao()"> NOVA SOLICITAÇÃO
        </ion-button>
    </div>
</ion-content>