<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light" defaultHref="/tela-inicial"></ion-back-button>
        </ion-buttons>
        <ion-title>Meus Protocolos</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>

        <ion-row>
            <ion-text color="light" class="title-page">

                <h3 class="title">
                    <ion-icon name="list-box"></ion-icon>
                    Meus Protocolos
                </h3>
                <p class="subtitle">Toque para acompanhar.</p>
            </ion-text>
        </ion-row>
        <ion-row>
            <ion-card style="width: 100%;">
                <ion-card-header>
                    PROTOCOLOS
                </ion-card-header>
                <ion-list *ngFor="let solicitacao of solicitacoes" size="12" style="height: auto;">

                    <ion-list-header color="light" style="text-align: left">
                        <span *ngIf="solicitacao?.sitsol=='C'" style="float: left;">
                <ion-icon style="font-size:18px;" name="checkmark-circle"></ion-icon>
              </span>
                        <span *ngIf="solicitacao?.sitsol=='F'" style="float: left;">
                <ion-icon style="font-size:18px;" name="close-circle"></ion-icon>
              </span>
                        <span *ngIf="solicitacao?.sitsol=='A'" style="float: left;">
                <ion-icon style="font-size:18px;" name="play" ></ion-icon>
              </span>
                        <span *ngIf="solicitacao?.sitsol=='G'" style="float: left;">
                <ion-icon style="font-size:18px;" name="play-circle"></ion-icon>
              </span>
                        <span class="item-header">{{solicitacao?.datsol | date:'dd/MM' }} - {{ solicitacao.destps }}</span>


                        <ion-icon name="arrow-dropdown" class="icon-updown" *ngIf="solicitacao?.codsol!= detalhes" (click)="mostrarDetalhes(solicitacao.codsol)"></ion-icon>
                        <ion-icon name="arrow-dropup" class="icon-updown" *ngIf="solicitacao?.codsol== detalhes" (click)="esconderDetalhes()"></ion-icon>
                    </ion-list-header>

                    <ion-card-content *ngIf="solicitacao?.codsol== detalhes" size="12">
                        <ion-item lines="full">
                            <b>Protocolo: </b> {{ solicitacao?.codsol }}
                        </ion-item>
                        <ion-item lines="full">
                            <b>Aberto:</b> {{solicitacao?.datsol | date: 'dd/MM/yyyy' }}
                        </ion-item>
                        <ion-item class="item-solicitacao" lines="full">
                            <div class="textos">
                                <p><b class="">Solicitação: </b></p>
                                <p size="12"> {{ solicitacao.obsoss }}</p>
                            </div>

                        </ion-item>
                        <ion-item *ngIf="solicitacao.logsol " lines="full">
                            <div class="endereco">
                                <b>Endereço: </b>
                                <p size="12">{{solicitacao?.logsol }}, {{solicitacao?.numsol }}. </p>
                                <p><b>Bairro:</b> {{ solicitacao?.baisol }}</p>
                            </div>
                        </ion-item>
                        <ion-item lines="full">
                            <b>Situação: </b>
                            <span *ngIf="solicitacao?.sitsol=='C'">
                  Concluída
                </span>
                            <span *ngIf="solicitacao?.sitsol=='F'">
                  Finalizada
                </span>
                            <span *ngIf="solicitacao?.sitsol=='A'">
                  Aberta
                </span>
                            <span *ngIf="solicitacao?.sitsol=='G'">
                  Em Análise
                </span>
                        </ion-item>
                        <ion-item *ngIf="solicitacao.codoss " lines="full">
                            <b>Ordem de Serviço: </b>{{ solicitacao.codoss }}
                        </ion-item>
                        <ion-item *ngIf="solicitacao.tfisol " lines="full">
                            <div class="textos">
                                <b>Atendimento: </b>
                                <p>{{ solicitacao?.tfisol }}</p>
                            </div>
                        </ion-item>
                        <ion-item *ngIf="solicitacao?.dafsol " lines="full">
                            <b>Finalizado : </b>{{ solicitacao?.dafsol | date: 'dd/MM/yyyy' }}
                        </ion-item>
                    </ion-card-content>


                </ion-list>

            </ion-card>
        </ion-row>
    </ion-grid>

    <ion-card style="background: white;">
        <ion-card-header>
            LEGENDA
            <div style="float: right" (click)="irParaLegenda()">
                <ion-icon style="font-size:18px;" name="information-circle-outline"></ion-icon>
                DETALHES
            </div>
        </ion-card-header>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-icon style="font-size:18px;" name="play" color="black"></ion-icon>
                        <ion-label>Aberta</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-icon style="font-size:18px;" color="black" name="play-circle"></ion-icon>
                        <ion-label>Em Análise</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-icon style="font-size:18px;" color="black" name="close-circle"></ion-icon>
                        <ion-label>Finalizada</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-icon style="font-size:18px;" color="black" name="checkmark-circle"></ion-icon>
                        <ion-label>Concluída</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

    <h3 style="color:white;text-align: center"> Obrigado por contrubuir e ajudar a melhorar a nossa cidade!</h3>

</ion-content>