<ion-app>
    <ion-split-pane>
        <ion-menu swipeGesture="true">

            <ion-header class="header-logo">
                <img src="assets/image/fala-cg-horizontal.png" class="logo" />
            </ion-header>

            <ion-content>
                <menu-lateral></menu-lateral>
            </ion-content>

        </ion-menu>

        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>