<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light" defaultHref="login"></ion-back-button>
        </ion-buttons>
        <ion-title>Redefinir Senha</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-label position="floating"> CPF </ion-label>
    <ion-item margin-bottom>
        <ion-input type="tel" [(ngModel)]="usuario.cpfuso" mascara="cpf" minlength="14" maxlength="14"></ion-input>
    </ion-item>

    <ion-label position="floating"> Data de Nascimento </ion-label>
    <ion-item margin-bottom>
        <ion-datetime class="ion-datetime" displayFormat="DD/MM/YYYY" cancel-text="CANCELAR" done-Text="OK" [(ngModel)]="usuario.nasuso"></ion-datetime>
    </ion-item>

    <ion-button expand="full" color="primary" margin-bottom (click)="redefinirSenha()"> REDEFINIR </ion-button>

    <ion-text *ngIf="message" color="secondary">
        <p>{{message?.mensagem}}</p>
    </ion-text>
</ion-content>