<app-menu-superior></app-menu-superior>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-img src="assets/image/fala-cg-horizontal.png"></ion-img>
        </ion-row>
        <ion-row class="main-wrapper" id="home-nav">

            <ion-col size="6" *ngFor="let orgao of orgaos">

                <a *ngIf=" orgao.linkorg == null && orgao.botaoorg.toLowerCase() != 'ouvidoria' " class="area-icon" (click)="abrirTelaDeSolicitacao(orgao)" id={{orgao?.iconorg}}>
                    <i class="{{orgao?.iconorg}}"></i>
                    <p>{{orgao?.botaoorg?.toUpperCase()}}</p>
                </a>


                <a *ngIf=" orgao.linkorg != null && orgao.botaoorg.toLowerCase() != 'ouvidoria'  
        && orgao.botaoorg.toLowerCase() != 'procon' " class="area-icon" (click)="abrirLink(orgao.linkorg);">
                    <i class="{{orgao?.iconorg}}"></i>
                    <p>{{orgao?.botaoorg?.toUpperCase()}}</p>
                </a>

                <a *ngIf="  orgao.botaoorg.toLowerCase() == 'procon' " class="area-icon" id="{{orgao?.iconorg}}" (click)="abrirTelaProcon(orgao?.iconorg);">
                    <i class="{{orgao?.iconorg}}"></i>
                    <p>{{orgao?.botaoorg?.toUpperCase()}}</p>
                </a>

                <a *ngIf=" orgao.botaoorg.toLowerCase() == 'ouvidoria' " id="{{orgao?.iconorg}}" class="area-icon" (click)="abrirTelaDeOuvidoria(orgao?.iconorg)">
                    <i class="{{orgao?.iconorg}}"></i>
                    <p>{{orgao?.botaoorg?.toUpperCase()}}</p>
                </a>

            </ion-col>

            <a id="testeId"></a>
        </ion-row>
    </ion-grid>
</ion-content>