ion-title {
    font-size: 18px;
}

span {
    font-size: 14px;
}

ion-textarea {
    border: 0.1px solid lightgray;
    padding: 3px;
}

ion-button {
    margin: 0px 10px;
}

.btn-camera {
    height: 30px;
    clear: both;
    width: 100%;
    border: 0 !important;
    border-color: none !important;
    font-weight: bold;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
}

.btn-row {
    width: 100%;
    border: none !important;
    padding: 0 !important;
}

.texto-botao {
    padding-left: 10px !important;
    line-height: 28px;
}

.camera {
    font-size: 28px;
}