<app-menu-superior></app-menu-superior>

<ion-content padding>

    <span class="subtitulo">{{desc}}</span>

    <h1 class="titulo">
        <ion-icon src="../../assets/icon/livro.svg"></ion-icon>
        Nova Interação
    </h1>
    <span class="subtitulo">Preencha o formulário abaixo. </span>

    <ion-card>


        <ion-list padding-top paddin-bottom>

            <ion-item *ngIf="servico?.apldentps == 'S'" lines="none">
                <ion-checkbox class="checkbox" name="denuncia" mode="ios" value="1" (click)="selecionarServico($event.target.name)"> </ion-checkbox>
                Denúncia
            </ion-item>

            <ion-item *ngIf="servico.aplelotps == 'S'" lines="none">
                <ion-checkbox class="checkbox" name="elogio" mode="ios" value="2" (click)="selecionarServico($event.target.name)"> </ion-checkbox>
                Elogio
            </ion-item>

            <ion-item *ngIf="servico.aplrectps == 'S'" lines="none">
                <ion-checkbox class="checkbox" name="reclamacao" mode="ios" value="3" (click)="selecionarServico($event.target.name)"> </ion-checkbox>
                Reclamação
            </ion-item>

            <ion-item *ngIf="servico.aplsertps == 'S'" lines="none">
                <ion-checkbox class="checkbox" name="servico" mode="ios" value="0" (click)="selecionarServico($event.target.name)"> </ion-checkbox>
                Serviços
            </ion-item>

            <ion-item lines="none">
                <ion-textarea maxlength="200" placeholder="DETALHES" [(ngModel)]="servico.obsoss" rows="4" margin-right margin-bottom>
                </ion-textarea>
            </ion-item>

            <ion-item class="btn-row" lines="none" *ngIf="this.servico.tiposs==0">
                <ion-button expand="full" color="primary" class="btn-camera" size="default" (click)="capturarFoto()">
                    <ion-icon name="camera" class="camera"></ion-icon><span class="texto-botao">Foto</span>
                </ion-button>
            </ion-item>


            <div *ngIf="arquivos.length > 0">
                <ion-card>
                    <ion-card-header>
                        Anexos
                    </ion-card-header>
                    <ion-card-content class="files">
                        <ion-item *ngFor="let item of arquivos">
                            {{item.nome}}
                            <ion-icon name="trash" slot="end" color="danger" (click)="removerAnexo(item)"></ion-icon>
                        </ion-item>
                    </ion-card-content>
                </ion-card>
            </div>

        </ion-list>

    </ion-card>



    <ion-button [disabled]="disabled" expand="full" color="primary" margin-top margin-bottom (click)="salvar()"> ENVIAR </ion-button>

</ion-content>