<app-menu-superior>
</app-menu-superior>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <a class="area-icon">
                <ion-icon name="call" class="icon-ouvidoria"></ion-icon>
                <p class="orgao">{{ ouvidoriaGeral?.desorgcon }}</p>
                <p class="dados-orgao">{{ ouvidoriaGeral?.codsercon }}</p>
                <!-- <p class="dados-orgao">{{ ouvidoriaGeral.telorgcon }}</p> -->
                <p class="dados-orgao">{{ ouvidoriaGeral?.emaorgcon }}</p>
            </a>
        </ion-row>

        <ion-row>
            <a class="area-icon">
                <p class="orgao">Outros Telefones</p>
            </a>
        </ion-row>

        <ion-row class="main-wrapper" id="home-nav">
            <ion-card *ngFor="let ouvidoria of ouvidorias" class="ion-card">
                <ion-card-header>
                    <span> {{ouvidoria?.desorgcon}}</span>
                </ion-card-header>

                <ion-list>
                    <ion-item lines="full">
                        <ion-icon name="call"></ion-icon> {{ouvidoria?.telorgcon}}
                    </ion-item>

                    <ion-item lines="full">
                        <ion-icon name="mail"></ion-icon> {{ouvidoria?.emaorgcon}}
                    </ion-item>
                </ion-list>
            </ion-card>
        </ion-row>
    </ion-grid>



</ion-content>