.main-wrapper {
    width: 100%;
}

.ion-card {
    width: 100%;
    background: red;
}

.item-lines-full {
    font-size: 0.9em !important;
}

ion-icon {
    margin-right: 2px;
}

ion-icon.icon-ouvidoria {
    width: 70px !important;
    height: 70px !important;
    border-radius: 50% !important;
    border: 5px solid #FFFFFF !important;
    padding: 0.7em !important;
    background-color: #0066A4 1important;
}

.area-icon {
    text-align: center !important;
    width: 100% !important;
    color: #FFF !important;
}

.orgao {
    font-size: 25px !important;
    font-weight: bold;
    color: #FFFFFF !important;
    text-align: center !important;
}

dados-orgao {
    font-weight: bold;
}

.icon-inner {
    border-radius: 50% !important;
    height: 100px;
    background: #FFF !important;
}