<app-menu-superior></app-menu-superior>

<ion-content padding>

    <h1 class="titulo">
        <ion-icon src="../../assets/icon/livro.svg"></ion-icon>
        Nova Denúncia
    </h1>
    <span class="subtitulo">Preencha o formulário abaixo. </span>

    <ion-card>

        <ion-label position="floating"> Ocorrência </ion-label>
        <ion-textarea [(ngModel)]="solicitacao.desden" rows="4" margin-bottom></ion-textarea>

        <ion-label position="floating"> Local da Ocorrência </ion-label>
        <ion-input [(ngModel)]="solicitacao.estden" type="text" margin-bottom></ion-input>

        <ion-label position="floating"> Endereço da Ocorrência </ion-label>
        <ion-input type="text" id="endereco" [(ngModel)]="logradouro" (ionChange)="buscarEndereco()">
        </ion-input>
        <ion-list id="enderecos" hidden=true class="listaEnderecos">
            <ion-item id="loadGif" text-center>
                <ion-img src="../../../assets/gif/load.gif" width="15" height="15"></ion-img>
            </ion-item>

            <ion-item (click)="selecionarEndereco(endereco)" *ngFor="let endereco of enderecos">
                <ion-label>{{endereco?.cepend}} - {{endereco?.logend }}, {{ endereco?.baiend }} </ion-label>
            </ion-item>
        </ion-list>

        <ion-label position="floating" margin-top> Número </ion-label>
        <ion-input [(ngModel)]="solicitacao.epcVO.numeroepc" type="tel" margin-bottom>
        </ion-input>

        <ion-label position="floating"> Ramo Atividade</ion-label>
        <ion-input [(ngModel)]="ramoSelecionado.nomram" readonly="true" margin-bottom (click)="selecionarRamoAtividade()">
        </ion-input>

        <ion-buttons slot="secondary" color="light">
            <ion-button expand="default" size="large" fill="clear" color="light" slot="start" class="anexar" (click)="capturarFoto()">
                <ion-icon name="camera" class="icone-anexar"></ion-icon>
                <span class="texto-button">Foto</span>
            </ion-button>

            <ion-button slot="end" expand="default" size="large" fill="clear" color="light" strong="true" class="anexar" (click)="anexarArquivo()">
                <ion-icon name="folder" class="icone-anexar"></ion-icon>
                <span class="texto-button">Arquivos</span>
            </ion-button>
        </ion-buttons>

    </ion-card>

    <div *ngIf="solicitacao.anpVOs.length > 0">
        <ion-card>
            <ion-card-header>
                Anexos
            </ion-card-header>
            <ion-card-content class="files">
                <ion-item *ngFor="let arquivo of solicitacao.anpVOs ">{{arquivo.nomanp}}
                    <ion-icon name="trash" slot="end" color="danger" (click)="removerAnexo(arquivo)"></ion-icon>
                </ion-item>
            </ion-card-content>
        </ion-card>
    </div>

    <ion-button expand="full" color="primary" margin-top margin-bottom (click)="salvar()"> ENVIAR </ion-button>

    <div>
        <ul class="ion-ul">
            <li>Você pode anexar arquivos png, jpg, gif, doc ,docx, pdf, svg, xls ,xlsx, rar, zip, txt e mp4. </li>
            <li>Os arquivos não podem ter mais de 25mb. </li>
            <li>Só é permitido no maximo 7 arquivos. </li>
        </ul>
    </div>

</ion-content>