ion-content {
    padding-top: 0px;
}

ion-content h1 {
    margin-top: 5px;
}

ion-card {
    background: transparent !important;
    box-shadow: none;
}

ion-input {
    color: #21272D !important;
    background: white;
}

ion-title {
    font-size: 18px;
}

span {
    font-size: 14px;
}

ion-textarea {
    padding: 0px !important;
    background: white;
    /*border: 2px solid gray;  */
}

ion-input,
ion-item {
    background: white;
    padding: 0px !important;
    /* border: 2px solid gray; */
}

ion-button {
    margin: 0px 10px;
}

.label-floating.sc-ion-label-md-h {
    //color: rgb(169, 169, 169) !important;
    color: white !important;
    font-size: 12pt;
}

.files {
    padding: 0;
}

.anexar {
    margin-left: 3px !important;
    width: 50%;
    border: 1px solid #FFF;
}

.icone-anexar {
    font-size: 28px;
}

.texto-button {
    margin-left: 5%;
}