<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light" defaultHref="tela-inicial-procon"></ion-back-button>
        </ion-buttons>
        <ion-title>Orientação</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <h1 class="titulo">
        <ion-icon src="../../assets/icon/livro.svg"></ion-icon>
        Nova Solicitação
    </h1>
    <span class="subtitulo">Preencha o formulário abaixo. </span>

    <ion-card>

        <ion-label position="floating" margin-top> Ocorrência </ion-label>
        <ion-textarea [(ngModel)]="solicitacao.desden" rows="4" margin-bottom></ion-textarea>

        <ion-label position="floating" margin-top> Ramo Atividade </ion-label>
        <ion-input [(ngModel)]="ramoSelecionado.nomram" readonly="true" margin-bottom (click)="selecionarRamoAtividade()">
        </ion-input>

        <ion-buttons slot="secondary" color="light">
            <ion-button expand="default" size="large" fill="clear" color="light" slot="start" class="anexar" (click)="capturarFoto()">
                <ion-icon name="camera" class="icone-anexar"></ion-icon>
                <span class="texto-button">Foto</span>
            </ion-button>

            <ion-button slot="end" expand="default" size="large" fill="clear" color="light" strong="true" class="anexar" (click)="anexarArquivo()">
                <ion-icon name="folder" class="icone-anexar"></ion-icon>
                <span class="texto-button">Arquivos</span>
            </ion-button>
        </ion-buttons>

    </ion-card>

    <div *ngIf="solicitacao.anpVOs.length > 0">
        <ion-card>
            <ion-card-header>
                Anexos
            </ion-card-header>
            <ion-card-content class="files">
                <ion-item *ngFor="let arquivo of solicitacao.anpVOs ">{{arquivo.nomanp}}
                    <ion-icon name="trash" slot="end" color="danger" (click)="removerAnexo(arquivo)"></ion-icon>
                </ion-item>
            </ion-card-content>
        </ion-card>
    </div>

    <ion-button expand="full" color="primary" margin-top margin-bottom (click)="salvar()"> ENVIAR </ion-button>

</ion-content>