<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-title>Tempo de Atendimento</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card>


        <ion-card-content>
            <h2>Os serviços solicitados serão encaminhados imediatamente aos setores responsáveis e serão executados conforme as nossas possibilidades. </h2>
            <br>
            <h4>Ouvidoria Geral</h4>
            <h4>(67) 3314-4639</h4>
            <h4>ouvidoriageral@cgm.campogrande.ms.gov.br</h4>
        </ion-card-content>
    </ion-card>

</ion-content>