#botao-notificacao {
    position: relative;
    /*width: 48px !important;*/
    height: 100%;
    top: 1px;
    right: -5px;
    overflow: visible!important;
}

#notificacao-badge {
    background-color: var(--ion-color-badage);
    position: absolute;
    top: px;
    right: 0px;
    height: 20px;
    width: 23px;
    border-radius: 50%;
}

#notificacao-icone {
    margin-right: 5px;
}

.title-menu {
    padding-left: 5px !important;
    font-size: 18px;
}