<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button *ngIf="menu.backButton == true" color="light" defaultHref="solicitacoes"></ion-back-button>
        </ion-buttons>
        <ion-title class="title-menu">{{menu.titulo}}</ion-title>
        <span>{{menu.subTitulo}}</span>
        <ion-buttons slot="end">
            <ion-button id="buttao-home" (click)="voltarParaPaginaInicial()">
                <ion-icon color="light" id="home-icon" slot="icon-only" name="home"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button id="buttao-notificacao" (click)="irParaNotificacao()">
                <ion-badge id="notificacao-badge" mode="ios" color="secondary">
                    {{ menu.quantidade }}
                </ion-badge>
                <ion-icon color="light" id="notificacao-icone" slot="icon-only" name="notifications"></ion-icon>
            </ion-button>

            <ion-menu-toggle>
                <ion-button>
                    <ion-icon slot="icon-only" color="light" name="menu"></ion-icon>
                </ion-button>
            </ion-menu-toggle>

        </ion-buttons>

    </ion-toolbar>
</ion-header>