<app-menu-superior>
</app-menu-superior>

<ion-content padding>
    <ion-button expand="full" color="primary" class="btn" (click)="irParaDenuncia()">Denúncia</ion-button>

    <ion-button expand="full" color="primary" class="btn" (click)="irParaOrientacao()">Orientação</ion-button>


    <ion-button expand="full" color="primary" class="btn" (click)="irParaInformacoesAoConsumidor()">Informações ao Consumidor</ion-button>

    <ion-button expand="full" color="primary" class="btn" (click)="irParaContato()">Contato</ion-button>

    <div class="procon-link" (click)="abrirLink();">
        <a color="light" class="procon ">
            <ion-icon name="logo-facebook" class="icon"></ion-icon>
        </a>
        <span class="link">
			PROCON CAMPO GRANDE MS	
		</span>



    </div>

</ion-content>