.btn {
    margin-top: 2.5em;
}

.procon-link {
    width: 100%;
    display: block;
    margin-top: 2.2em;
}

.procon {
    display: inline-block;
    float: left !important;
}

.procon>.icon {
    height: 30px!important;
    width: 35px !important;
    color: #FFF !important;
    background: #228ECE !important;
    font-size: 25px;
}

.link {
    float: left !important;
    display: inline-block;
    padding: 0.2em;
    height: 45px;
    margin-left: 2px;
    vertical-align: middle;
    color: #FFF;
}