<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-title>Alterar Senha</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-img src="assets/image/fala-cg-horizontal.png"></ion-img>

    <ion-label position="floating"> Senha Atual </ion-label>

    <ion-item margin-bottom>
        <ion-input [type]="passwordTypeSA" [(ngModel)]="senhaAtual"></ion-input>
        <ion-icon color="black" [name]="passwordShownSA === true ? 'eye-off' : 'eye'" slot="end" (click)="togglePasswordSA()">
        </ion-icon>
    </ion-item>

    <ion-label position="floating"> Nova Senha </ion-label>
    <ion-item margin-bottom>
        <ion-input [type]="passwordTypeNS" [(ngModel)]="novaSenha"></ion-input>
        <ion-icon color="black" [name]="passwordShownNS === true ? 'eye-off' : 'eye'" slot="end" (click)="togglePasswordNS()">
        </ion-icon>
    </ion-item>

    <ion-button expand="full" color="primary" margin-bottom (click)="redefinirSenha()"> REDEFINIR </ion-button>


</ion-content>