<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="tela-inicial"></ion-back-button>
    </ion-buttons>
    <ion-title>{{orgao.botaoorg.toUpperCase()}}</ion-title>
  </ion-toolbar>
</ion-header> -->
<app-menu-superior></app-menu-superior>
<ion-content padding>

    <h1 class="titulo">
        <ion-icon src="../../assets/icon/livro.svg"></ion-icon>
        Nova Interação
    </h1>
    <span class="subtitulo">Selecione abaixo um dos itens. </span>

    <ion-card>
        <ion-card-header>
            <span> INTERAÇÕES DISPONÍVEIS</span>
        </ion-card-header>

        <ion-list>
            <ion-item *ngFor="let servico of orgao.servicos" (click)="solicitacao(servico)" detail="true" lines="full">
                {{servico.destps}}
            </ion-item>
        </ion-list>
    </ion-card>

    <!-- Obras e Servicos -->
    <div *ngIf="orgao?.codorg == 1" class="ion-button-link ion-text-left">
        <a class="link" (click)="AbrirTempoAtendimento()">
            <!-- <ion-icon name="time"></ion-icon> -->
            Tempo de Atendimento
        </a>
    </div>

    <div *ngFor="let vo of orgao?.linkVOs" (click)="abrirLink(vo.link)" class="ion-button-link ion-text-left">
        <br>
        <a class="link"> {{vo.slug}}</a>
    </div>

</ion-content>