<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light" (click)="goBack()"></ion-back-button>
        </ion-buttons>
        <ion-title>Minhas Notificações</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>

        <ion-row>
            <ion-text color="light" class="title-page">

                <h3 class="title">
                    <ion-icon name="notifications"></ion-icon>
                    NOTIFICAÇÕES RECEBIDAS
                </h3>
                <p class="subtitle">Toque para acompanhar.</p>
            </ion-text>
        </ion-row>


        <ion-row>
            <ion-card style="width: 100%;">
                <ion-card-header>
                    NOTIFICAÇÕES
                </ion-card-header>
                <ion-list *ngFor="let notificacao of notificacoes" size="12" style="height: auto;">

                    <ion-list-header color="light" style="text-align: left" *ngIf="notificacao.sitnot !== 2">

                        <ion-icon name="mail-open" class="read" *ngIf="notificacao.sitnot === 1"></ion-icon>

                        <ion-icon name="mail-unread" class="unread" *ngIf="notificacao.sitnot == 0"></ion-icon>

                        <span class="item-header">
					    	<p>{{notificacao?.dtsnot  | date:'dd/MM'}} - {{notificacao?.titulo}}</p>
					    

						</span>
                        <ion-icon name="arrow-dropdown" class="icon-updown" *ngIf="notificacao?.codigo_notificacao!= detalhes" (click)="mostrarDetalhes(notificacao)"></ion-icon>
                        <ion-icon name="arrow-dropup" class="icon-updown" *ngIf="notificacao?.codigo_notificacao == detalhes" (click)="esconderDetalhes()"></ion-icon>
                    </ion-list-header>

                    <ion-card-content *ngIf="notificacao?.codigo_notificacao == detalhes && notificacao.sitnot != 2" size="12">

                        <ion-item class="item-notificacao" lines="full">
                            <div class="textos">
                                <p size="12"> {{ notificacao?.mensagem }}</p>
                            </div>

                        </ion-item>
                        <ion-item class="item-notificacao" lines="full">
                            <ion-button color="danger" fill="outline" (click)="deletarDoApp(notificacao);">
                                <ion-icon class="delete" name="trash"> </ion-icon> EXCLUIR
                            </ion-button>
                        </ion-item>

                    </ion-card-content>


                </ion-list>

            </ion-card>
        </ion-row>
    </ion-grid>
</ion-content>