<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light" (click)="fecharModal()"></ion-back-button>
        </ion-buttons>
        <ion-title>Termo de Uso</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="texto-termo">

    <div>
        <ion-card-content style="background: white;text-align: justify;text-justify: inter-word;">
            <p class="paragrafo-termo"><b>FAVOR LER COM ATENÇÃO ESTES TERMOS DE USO ANTES DE ACESSAR OU USAR O
          APLICATIVO</b></p>
            <p class="paragrafo-termo">Seja bem-vindo ao “Aplicativo de Atendimento FALA CAMPO GRANDE”, um aplicativo idealizado pela Prefeitura Municipal de Campo Grande (PMCG), no qual os cidadãos e cidadãs campo-grandenses fazem solicitações de serviço, fiscalização, denuncias,
                elogios, reclamações e sugestões a Prefeitura. O presente acordo e o contrato entre APLICATIVO FALA CAMPO GRANDE e você, munícipe e usuário.</p>
            <p class="paragrafo-termo">Ao baixar o aplicativo ou fazer o cadastro, você concorda, irrestritamente, em aceitar os termos e as condições de uso indicadas a seguir, na medida em que as disposições constantes vinculam o usuário do Aplicativo de Atendimento FALA CAMPO
                GRANDE e protegem o próprio aplicativo e a PMCG, em conformidade com as Leis Federais n. 9609/1998 e 9279/1996. Além destes termos, esta dinâmica também é regulada pela Política de Privacidade.</p>

            <p class="paragrafo-termo"><b>1. COMPROMISSO COM OS TERMOS DE USO</b></p>
            <p class="paragrafo-termo">1.1 Em fazendo uso das informações, dos recursos e das funcionalidades do Aplicativo de Atendimento FALA CAMPO GRANDE, o munícipe concorda com os termos aqui expressos. Por favor, verifique todos os termos com cuidado antes de fazer uso de
                nosso aplicativo, pois, ao utiliza-lo, você concorda em segui-los.
            </p>
            <p class="paragrafo-termo">1.2 Se não concordar com todos os termos do Aplicativo FALA CAMPO GRANDE, não será possível que você utilize os serviços oferecidos no aplicativo. No entanto, a prefeitura oferece outros canais de atendimento proporcionando os mesmos serviços
                do APLICATIVO FALA CAMPO GRANDE, e outros, a Central de Atendimento 156 e as praças de atendimento da prefeitura.</p>
            <p class="paragrafo-termo">1.3 O uso do aplicativo após a mudança nos Termos de Uso será considerado como uma concordância tácita do contrato. Se você discordar das nos Termos de Uso, será necessário que cancele a conta e utilize os outros canais de atendimento da PMCG
                (ver termo 1.2).</p>

            <p class="paragrafo-termo"><b>2. FORMAS DE NAVEGAÇÃO</b></p>
            <p class="paragrafo-termo">2.1 O acesso ao APLICATIVO FALA CAMPO GRANDE, é permitido em dispositivos moveis.</p>
            <p class="paragrafo-termo">2.2 A utilização dos serviços do APLICATIVO FALA CAMPO GRANDE funciona de duas maneiras:
            </p>
            <p class="paragrafo-termo">2.2.1 O usuário pode realizar o cadastro eletrônico, criar sua conta e fornecer seus dados pessoais, além de escolher uma senha de acesso; ou</p>
            <p class="paragrafo-termo">2.2.2 O usuário pode acessar anonimamente, tendo então, acesso restrito aos serviços nos quais o cadastro anônimo é permitido (ver termo 4.5).</p>

            <p class="paragrafo-termo"><b>3. CADASTRAMENTO</b></p>
            <p class="paragrafo-termo">3.1 Para realização do cadastro, o usuário deve fornecer os seguintes dados: nome, CPF, e-mail, data de nascimento e endereço.</p>

            <p class="paragrafo-termo"><b>4. NOTIFICAÇÕES</b></p>
            <p class="paragrafo-termo">4.1 Ao concordar com estes Termos de Uso, você autoriza o aplicativo de atendimento a realizar o envio de atualizações do ciclo de vida de suas solicitações, alertas de interesse público, ou avisos administrativos aos usuários. Se desejar
                você pode desativar o envio dessas notificações.</p>

            <p class="paragrafo-termo"><b>5. RESPONSABILIDADES DO USUÁRIO</b></p>
            <p class="paragrafo-termo">5.1 Os serviços do APLICATIVO FALA CAMPO GRANDE não devem ser utilizados indevidamente. É apenas permitido ao usuário do aplicativo fazer uso do que lhe é disponibilizado, e dentro das normas previstas legalmente no Brasil.</p>
            <p class="paragrafo-termo">5.2 A comercialização desse aplicativo e expressamente proibida. Ao concordar com estes Termos de Uso e utilizar o APLICATIVO FALA CAMPO GRANDE, o usuário recebera um permissionamento do proprietário para uso não comercial dos serviços oferecidos
                pelo APLICATIVO FALA CAMPO GRANDE, o que, em nenhuma hipótese, fará dele proprietário do APLICATIVO FALA CAMPO GRANDE.</p>
            <p class="paragrafo-termo">5.3 Você é responsável por toda a qualquer ação feita em sua conta, e você concorda em não alienar, ceder ou transferir a sua conta, nome e dados de usuário, ou quaisquer direitos a outra pessoa.
            </p>
            <p class="paragrafo-termo">5.4 Ademais, você declara que todas as informações fornecidas ao APLICATIVO FALA CAMPO GRANDE são verdadeiras, exatas, atuais e completas, pois é uma obrigação do usuário atualiza-las para manter a veracidade e a exatidão das informações.</p>
            <p class="paragrafo-termo">5.5 Da mesma forma, você declara utilizar os serviços disponíveis no APLICATIVO FALA CAMPO GRANDE de maneira responsável, dado que se trata de um aplicativo público que cuida da prestação de serviços essenciais para a cidade de Campo Grande.</p>
            <p class="paragrafo-termo">5.6 Você não deve perseguir, abusar, intimidar, assediar ou ameaçar pessoas ou entidades. Também não deve compartilhar informações particulares ou confidenciais, incluindo, entre outras, informações de cartões de credito, por exemplo. Você
                não pode utilizar os serviços APLICATIVO FALA CAMPO GRANDE para qualquer finalidade ilegal ou não autorizada.</p>
            <p class="paragrafo-termo">5.7 Você e único responsável por sua conduta e por quaisquer dados, textos, imagens, informações, nomes, fotos e outros conteúdos ou materiais que enviar por meio do APLICATIVO FALA CAMPO GRANDE.
            </p>
            <p class="paragrafo-termo">5.8 Você não deve interferir, comprometer ou interromper o serviço, ou os servidores ou redes conectadas ao servo, inclusive por meio da transmissão de qualquer malware, worm, vírus, spyware, ou qualquer outro código de natureza destrutiva
                ou perturbadora. Você não pode inserir conteúdos ou códigos, ou, de outra forma, alterar, ou interferir na maneira como a página do serviço e exibida ou processada no dispositivo de um usuário.</p>
            <p class="paragrafo-termo">5.9 Tendo em vista que o aplicativo lida com informações pessoais, você concorda que não usara robôs, sistemas de varredura e armazenamento de dados (como “spiders” ou “scraperes”), links escondidos ou qualquer outro recurso escuso, ferramenta,
                programa, algoritmo ou método coletor/extrator de dados automático para acessar, adquirir, copiar ou monitorar o APLICATIVO FALA CAMPO GRANDE, sem permissão expressa por escrito da PMCG.</p>
            <p class="paragrafo-termo">5.10 Caso o usuário descumpra os Termos de Uso ou a Política de Privacidade, ou seja, investigado em razão de má conduta, a PMCG poderá restringir seu acesso. O usuário também deverá responder legalmente. Em ambos os casos, o usuário será
                notificado.
            </p>

            <p class="paragrafo-termo"><b>6. RESPONSABILIDADES DOS GESTORES DA PLATAFORMA</b></p>
            <p class="paragrafo-termo">6.1 Este aplicativo é oferecido pela PMCG e colaboradores da forma como está disponível na loja. Estes não fornecem quaisquer garantias, expressas ou tácitas, ou, ainda, garantias implícitas de comercialização e adequação a interesses específicos.</p>
            <p class="paragrafo-termo">6.2 Em hipótese alguma, a PMCG e seus colaboradores responsabilizam-se por eventuais danos diretos, indiretos, emergente, especiais, imprevistos ou multas, causados, em qualquer matéria de responsabilidade, seja contratual, objetiva ou civil
                (inclusive negligencia ou outras), decorrentes de qualquer forma de uso deste aplicativo, mesmo que advertida a possibilidade de tais danos.</p>
            <p class="paragrafo-termo">6.3 O prazo para a resposta ao solicitante sempre até o próximo dia útil subsequente a requisição do usuário.</p>
            <p class="paragrafo-termo">6.4 A Política de Privacidade do Aplicativo de APLICATIVO FALA CAMPO GRANDE inclui assegurar que seus dados pessoais não serão divulgados a terceiros para fins comerciais, ficando restritos a PMCG e a empresas contratadas para as quais dados
                serão encaminhados exclusivamente para a realização do serviço solicitado e melhoramento do aplicativo.</p>

            <p class="paragrafo-termo"><b>7. MUDANÇAS NA PLATAFORMA</b></p>
            <p class="paragrafo-termo">7.1 A melhoria continua na prestação dos nossos serviços é uma preocupação da PMCG. Por isso, trabalhamos para oferecer ao usuário um sistema cada vez mais seguro, interativo e atrativo. Por vezes, isso poderá resultar na inclusão ou na remoção
                de funcionalidades no aplicativo, alteração do conteúdo, ou, ainda, na criação de novos limites aos serviços, o que poderá modificar a forma de interação do usuário. A PMCG avisara os usuários previamente, por meio de envio de alertas
                ou avisos.</p>
            <p class="paragrafo-termo">7.2 Os suportes técnicos do aplicativo ocorrerão a medida que eventuais falhas no serviço forem detectadas pelos programadores.</p>
            <p class="paragrafo-termo">7.3 Haverá o incentivo a utilização e detecção de problemas pelos usuários, por meio de disponibilização de espaços específicos para sugestões, críticas e elogios, o “avalie APLICATIVO FALA CAMPO GRANDE”.
            </p>
        </ion-card-content>
    </div>

</ion-content>