<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Informações ao Consumidor</ion-title>
  </ion-toolbar>
</ion-header> -->
<app-menu-superior></app-menu-superior>

<ion-content padding>

    <h1 class="titulo">
        <ion-icon src="../../assets/icon/livro.svg"></ion-icon>
        PROCON Informativo
    </h1>


    <ion-text color="light">
        Deseja se cadastrar para receber via aplicativo WhatsApp notícias de cunho informativo, afetos ao direito do consumidor ?
    </ion-text>

    <hr>

    <ion-button expand="full" color="primary" margin-bottom (click)="cadastrar()" [hidden]="informacaoConsumidor.atvrei == true "> Sim, desejo me cadastrar </ion-button>

    <ion-button expand="full" color="primary" margin-bottom (click)="cancelar()" [hidden]="informacaoConsumidor.atvrei== false"> Cancelar minha inscrição </ion-button>



</ion-content>