<div>

    <ion-searchbar id="ion-search" [(ngModel)]="logradouro" (ionChange)="buscarPorLogradouro()" placeholder="Pesquisar"></ion-searchbar>
</div>


<ion-content>

    <ion-list>
        <ion-item *ngFor="let endereco of enderecos" lines="full" (click)="selecionar(endereco)">
            <ion-label>{{endereco?.cepend}} - {{endereco?.logend }}, {{ endereco?.bairroend }} </ion-label>
        </ion-item>
    </ion-list>

</ion-content>