ion-content {
    padding: 16px;
    background: white;
    height: auto;
    width: 100vw;
}

ion-searchbar {
    padding-top: 16px;
    background: white;
}

ion-list {
    height: auto;
}

ion-icon {
    display: flex;
    float: right;
}